server:
  port: 8082

spring:
  application:
    name: ms-camiones-transportistas
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration

management:
  endpoints:
    web:
      exposure:
        include: health,info
