<configuration>

    <!-- Consola -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Archivo -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/gateway.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d %-5level %logger{36} [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 👇 acá va el package REAL -->
    <logger name="ar.edu.utn.frc.api_gateway" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>

    <!-- si querés, también podés enganchar el FILE al root -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>
