spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8088/realms/bda-realm

springdoc:
  swagger-ui:
    path: /swagger-ui.html

management:
  endpoints:
    web:
      exposure:
        include: health,info

# URL hacia ms-rutas-tramos
app:
  ms-rutas-tramos:
    url: http://localhost:8084
